.content {
}
body {
	background-image: url(../images/paper-186899_1920.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	scroll-behavior: smooth;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
section {
	margin-top: 20px;
	margin-bottom: 20px;
}
section p {
	text-align: center;
}
.heading {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}
.subHeading {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
}
.subSubHeading {
	text-align: center;
	font-weight: bold;
	color: red;
	font-size: 15px;
}

#fizzBuzz {
	display: flex;
	padding: auto;
}

.loopArrayChallenge ul {
	text-align: center;
	list-style-position: outside;

	font-weight: bold;
	font-size: 25px;
}
.loopArrayChallenge ol {
	text-align: center;
	list-style-position: outside;

	font-weight: bold;
	font-size: 25px;
}
